body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    color: white;
}

body, div {
    margin: 0;
    padding: 0;
    
}

body, #root {
    width: 100vw;
    height: 100vh;
}

#text_area {
    border: solid white 2px;
}

.tool.title {
    color: black;
}